In [34]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [33]:
filepath = os.path.join("Unemployment_CSV.csv")
file = pd.read_csv(filepath)
file.head()

,FIPS,Name,2008,2009,2010,2011,2012,2013,2014,2015,2017,Median Household Income (2016)
0,10,Alabama,5.7,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.9,"$46,309"
1,20,Alaska,6.7,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,"$76,144"
2,40,Arizona,6.2,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,"$53,481"
3,50,Arkansas,5.5,7.8,8.2,8.3,7.6,7.2,6.0,5.0,3.9,"$44,406"
4,60,California,7.3,11.2,12.2,11.7,10.4,8.9,7.5,6.2,5.5,"$67,715"

In [32]:
filepath1 = os.path.join("Poverty_cleaned_up_csv.csv")
file1 = pd.read_csv(filepath1)
file1.head()

,FIPS,State,Total_percent,Total_90_percent_confidence_lower_bound,Total_90_percent_confidence_upper_bound,Children_percent,Children_90_percent_confidence_lower_bound,Children_90_percent_confidence_upper_bound
0,10,Alabama,17.2,16.8,17.6,24.7,23.8,25.6
1,20,Alaska,9.9,9.3,10.5,13.6,12.3,14.9
2,40,Arizona,16.4,16.1,16.7,23.6,22.9,24.3
3,50,Arkansas,17.2,16.8,17.6,24.0,23.0,25.0
4,60,California,14.4,14.3,14.5,19.9,19.6,20.2

In [31]:
filepath2 = os.path.join("EducationReport.csv")
file2 = pd.read_csv(filepath2)
file2.head()

,FIPS,State,1970_total,1980_total,1990_total,2000_total,2012-2016_total,1970_urban_total,1980_urban_total,1990_urban_total,2000_urban_total,2012-2016_urban_total,1970_rural_total,1980_rural_total,1990_rural_total,2000_rural_total,2012-2016_rural_total
0,10,United States,10.70%,16.20%,20.30%,24.40%,30.30%,11.50%,17.50%,22.00%,26.20%,32.30%,6.70%,10.50%,12.30%,14.90%,18.80%
1,20,Alabama,7.80%,12.20%,15.70%,19.00%,24.00%,8.90%,13.70%,17.80%,21.70%,27.10%,5.30%,8.20%,9.80%,11.60%,14.40%
2,40,Alaska,14.10%,21.20%,23.10%,24.70%,28.80%,15.50%,22.50%,25.10%,26.60%,31.40%,13.50%,18.90%,19.20%,21.00%,23.50%
3,50,Arizona,12.60%,17.40%,20.30%,23.50%,28.00%,13.00%,17.90%,21.00%,24.20%,28.60%,7.50%,10.30%,9.80%,12.40%,15.00%
4,60,Arkansas,6.70%,10.80%,13.30%,16.70%,21.50%,8.20%,13.30%,16.30%,20.20%,25.60%,5.10%,8.30%,9.80%,12.20%,15.30%